<form action="/payment/results">

  <br><label for="grape">APR</label>
  <input id="grape" type="text" placeholder="E.g. 5.42" name="user_apr"></br>

  <label for="peach">Number of years</label>
  <input id="peach" type="text" placeholder="How many years to repay?" name="user_years">

  <br><label for="melon">Principal</label>
  <input id="melon" type="text" placeholder="How much principal?" name="user_pv">

  <br><button>Calculate monthly payment</button></br>

</form>
