<form action="/random/results">

  <br><label for="apple">Minimum</label>
  <input id="apple" type="text" placeholder="E.g 1.5" name="user_min"></br>

  <label for="orange">Maximum</label>
  <input id="orange" type="text" placeholder="E.g 4.5" name="user_max">

  <br><button>Pick random number</button></br>

</form>
