<form action="/square_root/results">

  <label for="lemon">Enter a number</label>
  <input id="lemon" type="text" placeholder="What number do you want?" name="user_number">

  <br><button>Calculate square root</button></br>

</form>
